*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Avant Garde";
}
body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Style rules for navigation area */

nav {
    opacity: .75;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }

nav li {
        height:50px;
        display: inline;
        float:right;
        font-size: 20em;
        font-family: Geneva, Arial, sans-serif;
        font-weight: bold;
    }
    
nav li a {
        height:100%;
        display: flex;
        color: #222;    
        padding: 0 0px;
        text-decoration: none;
        align-items: center; 
    }
nav li a:hover{
    background-color:white;
 
    
}
nav li:first-child{
    margin-right:auto;
}
.ham{
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar{
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}





/* CSS */
.button-31 {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    

  }
  
  .button-31:hover,
  .button-31:focus {
    opacity: .75;
  }















.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height:100vh;
    scroll-behavior:smooth;
    background-color: #222;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    height: auto;
}

section.zero{
    height:fit-content;
}



section{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

h1{
    color:whitesmoke;
    text-shadow: 1px 1px 4px #000;
}

.one{
   background-image: url('castleinthesky.jpg');
}

.two{
    background-image: url('totorofirefly.jpg');
}

.three{
    background-image: url('kiki.png');
}

.four{
    background-image: url('only.jpg');
}

.five{
    background-image: url('porco.jpg');
}
.six{
    background-image: url('pom.jpg');
}
.seven{
    background-image: url('Whisper-of-the-Heart-Poster-Japanese-Movie-1.jpg');
}
.eight{
    background-image: url('Kodama_Animation.gif');
}
.nine{
    background-image: url('yamadas.jpg');
}
.ten{
    background-image: url('spirited.jpg');
}
.eleven{
    background-image: url('cat.jpg');
}
.twelve{
    background-image: url('howl.jpg');
}
.thirteen{
    background-image: url('earthsea.jpg');
}
.fourteen{
    background-image: url('Ponyo.png');
}
.fifteen{
    background-image: url('arrietty.png');
}
.sixteen{
    background-image: url('poppy.jpg');
}
.seventeen{
    background-image: url('windprincess.jpg');
}
.eighteen{
    background-image: url('marnie.jpg');
}
.nineteen{
    background-image: url('heron.jpg');
}